* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pageData {
  background-color: chartreuse;
  min-height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: coral;
  min-height: 10vh;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  color: aqua;
}
.logo {
  color: pink;
  letter-spacing: 2px;
}
